.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .animation {
    width: 600px;
    height: 600px;
  }

  .copywrite {
    position: absolute;
    font-size: 14px;
    bottom: 25px;
  }
}
