@use "@styles/mixins.scss" as *;

.namads {
  ul {
    display: flex;
    gap: 1.5em;

    li {
      @include size(90px);
      background-color: white;
      border-radius: 1em;
      padding: 1em;

      img {
        @include size(100%);
        object-fit: cover;
      }

      @include on-pc {
        @include size(115px);
      }
    }
  }
}
