.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/images/admin-bag.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
