@use "styles/mixins.scss" as *;

.en-hero {
  height: 100vh;
  background-image: url("/images/bg-en-hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  padding-top: 7em;

  .container {
    width: 100%;
    display: grid;
    align-items: top;
    justify-content: center;
    text-align: center;
    color: white;

    h1 {
      margin-bottom: 1em;
    }

    .animation {
      @include size(350px);
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 3.5em;

      li {
        display: grid;
        justify-items: center;
        gap: 1em;

        svg {
          width: 35px;
          height: 29px;
          fill: white;
        }

        p {
          font-size: 14px;
        }

        &:nth-child(2) {
          position: relative;
          top: -60px;
        }
      }
    }

    @include on-pc {
      .animation {
        @include size(500px);
      }

      ul {
        margin-top: 1em;

        li {
          position: static !important;
        }
      }
    }
  }
}
