@use "@styles/mixins.scss" as *;

.achievements {
  padding: 4em 0;

  .flex-wrapper {
    @include flex-gap(3em);
    flex-direction: column;

    > img {
      @include size(100%, 300px);
      border-radius: 1em;
    }

    .group {
      width: 100%;

      h2 {
        margin-bottom: 2em;
        text-align: center;
      }

      .swiper-slide {
        @include grid-gap(1em);
        background-color: var(--clr-dark-blue);
        padding: 1em 2em;
        width: fit-content;
        justify-items: center;
        color: var(--clr-white);
        border-radius: 1em;
      }
    }

    @include on-pc {
      flex-direction: row;
      align-items: center;

      > img {
        @include size(530px, 380px);
      }
    }
  }
}
