@use "@styles/mixins.scss" as *;

.achievements {
  padding: 4em 0;

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;

    > img {
      @include size(100%, 300px);
      border-radius: 1em;
    }

    .group {
      h2 {
        margin-bottom: 1.3em;
        text-align: center;
      }

      .swiper {
        max-width: 1123px;
      }

      .swiper-slide {
        background-color: var(--clr-dark-blue);
        padding: 1em 0;
        width: 250px;
        display: grid;
        justify-items: center;
        gap: 1em;
        color: white;
        border-radius: 1em;
      }
    }

    @include on-pc {
      flex-direction: row;
      align-items: center;

      > img {
        @include size(530px, 380px);
      }
    }
  }
}
