@use "@styles/mixins.scss" as *;

.admin-nav {
  @include size(400px, 100vh);
  background-color: var(--clr-dark-blue);
  position: fixed;
  right: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: start;

  .animation {
    margin-bottom: 3em;
    @include size(130px);
  }

  ul {
    width: 100%;
  }

  a {
    @include flex-align-center;
    @include icon-size(20px);
    color: var(--clr-white);
    border-radius: 1em;
    padding: 1em;
    width: 100%;

    svg {
      fill: var(--clr-white);
    }

    &:hover {
      background-color: #09182d;
    }
  }

  .submenu {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
    height: 0;
    background-color: #09182d;

    li:first-child {
      a {
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
      }
    }

    li:last-child {
      a {
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
      }
    }

    a {
      border-radius: 0;
      color: white;

      &:hover {
        background-color: #040a13;
      }
    }
  }

  .show-submenu {
    transform: scaleY(1);
    height: 100%;
    border-radius: 1em;
  }

  .exit-btns {
    @include icon-size(40px);
    display: grid;
    margin-top: auto;
    gap: 1em;

    button,
    a {
      color: white;
      @include flex-align-center;
      padding: 0;
      gap: 1em;
    }

    svg {
      fill: white;
    }
  }
}
