@use "@styles/mixins.scss" as *;

header {
  position: fixed;
  width: 100%;
  z-index: 99999999999;
  top: 0;

  .wrapper {
    @include flex-space-between;
    padding: 2.7em 0;

    .group {
      @include flex-align-center;
      gap: 1.5em;

      .login {
        color: white;
        font-size: 17px;
      }

      .language {
        display: flex;

        svg {
          @include size(40px);
          fill: white;
        }
      }
    }
  }
}

.white-bg {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);

  .main-nav {
    @include flex-align-center;
  }

  .menu-cta {
    svg {
      fill: #555 !important;
    }
  }

  a {
    color: black;

    svg {
      fill: black;
    }
  }

  .wrapper {
    padding: 1.5em 0;

    .group {
      @include flex-align-center;
      gap: 1.5em;

      .login {
        color: #555;
      }

      .language {
        svg {
          fill: #555;
        }
      }
    }
  }
}
