@use "@styles/mixins.scss" as *;

.main-nav {
  @include icon-size(15px);

  a {
    @include flex-align-center;
    padding: 1em;
    gap: 0.5em;
    color: white;

    svg {
      fill: white;
    }
  }

  .mobile-only {
    .menu-cta {
      @include icon-size(32px);
      display: flex;

      svg {
        fill: var(--clr-white);
      }
    }

    .close-menu {
      @include icon-size(35px);
      margin-bottom: 1.5em;
    }

    a {
      color: black;

      svg {
        fill: black;
      }
    }

    .menu-wrapper {
      position: absolute;
      width: 80%;
      right: 0;
      top: 0;
      background-color: #eee;
      padding: 2em;
      height: 100vh;

      .menu {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.26s ease;
        height: 0;
      }

      .show-menu {
        transform: scaleY(1);
        height: 100%;
        border-radius: 1em;
        background-color: #ddd;

        li:first-child {
          a {
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
          }
        }

        li:last-child {
          a {
            border-bottom-right-radius: 1em;
            border-bottom-left-radius: 1em;
          }
        }

        a:hover {
          background-color: #ccc;
        }
      }
    }
  }

  .pc-only {
    .menubar {
      position: relative;
      display: flex;

      > li:hover {
        > a {
          font-weight: bold;
        }

        .menu {
          opacity: 1;
          visibility: visible;
        }
      }

      .menu {
        position: absolute;
        box-shadow: 2px 5px 10px 0 rgba($color: #000000, $alpha: 0.2);
        background-color: white;
        border-radius: 1em;
        padding: 1em;
        transition: all 300ms ease-in-out;
        opacity: 0;
        visibility: hidden;

        a {
          width: 100%;
          border-radius: 10px;
          color: black;
        }

        a:hover {
          background-color: #eee;
        }
      }
    }
  }
}
