@use "@styles/mixins.scss" as *;

.services {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  padding: 4em 0;

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;

    img {
      @include size(100%, 300px);
      border-radius: 1em;
      display: flex;
      animation: slide-down 1.4s ease-in-out;
    }

    .group {
      h2 {
        margin-bottom: 0.6em;
      }

      p {
        text-align: justify;
      }
    }

    @include on-pc {
      flex-direction: row-reverse;
      align-items: center;

      img {
        @include size(100%, 380px);
      }
    }
  }
}
