@use "@styles/mixins.scss" as *;

.services {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  padding: 2em 0;
  padding-top: 4em;

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;

    img {
      @include size(100%, 300px);
      border-radius: 1em;
    }

    .group {
      h2 {
        margin-bottom: 0.6em;
      }

      p {
        text-align: justify;
      }
    }

    @include on-pc {
      flex-direction: row-reverse;
      align-items: center;

      img {
        @include size(530px, 380px);
      }
    }
  }
}
