:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-dark-blue: #0d2444;
  --clr-primary: #0464d3;
  --clr-gray: #ddd;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans_Medium.woff2") format("woff2"),
    url("/fonts/IRANSans_Medium.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/iranyekan-400.woff2") format("woff2"),
    url("/fonts/iranyekan-400.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/iranyekan-500.woff2") format("woff2"),
    url("/fonts/iranyekan-500.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/iranyekan-700.woff2") format("woff2"),
    url("/fonts/iranyekan-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "myFont";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--clr-black);
  cursor: pointer;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IranSans";
}

h2 {
  font-size: 1.7em;
}

svg {
  fill: #555;
}

/* svg sprite */
.svg-sprite {
  display: none;
}

// animations
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
