:root {
  --clr-black: #000;
  --clr-white: #fff;
}

@font-face {
  font-family: "myFont";
  src:
    url("/fonts/iranyekan-400.woff2") format("woff2"),
    url("/fonts/iranyekan-400.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src:
    url("/fonts/iranyekan-500.woff2") format("woff2"),
    url("/fonts/iranyekan-500.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src:
    url("/fonts/iranyekan-700.woff2") format("woff2"),
    url("/fonts/iranyekan-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src:
    url("/fonts/iranyekan-700.woff2") format("woff2"),
    url("/fonts/iranyekan-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src:
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "myFont";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-black);
  cursor: pointer;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

h2 {
  font-size: 1.7em;
}

/* svg sprite */
.svg-sprite {
  display: none;
}
