@use "@styles/mixins.scss" as *;

.alert {
  @include position-center;
  position: absolute;
  background-color: white;
  padding: 2.7em 6.5em;
  border-radius: 3em;
  box-shadow:
    0 0 10px 0 rgba($color: #000000, $alpha: 0.3),
    0 0 0 100vh rgba($color: #000000, $alpha: 0.1);
  display: grid;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }

  &__success {
    .animation {
      @include size(230px);
    }

    p {
      margin-top: 1em;
    }
  }

  &__error {
    .animation {
      @include size(230px);
    }
  }
}
