.en-header {
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
  padding: 0.7em 0;

  .en-logo-transparent {
    display: flex;
  }

  .en-logo-white {
    display: none;
  }
}

.white-bg {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);
  padding: 0.4em !important;

  .menu-cta {
    svg {
      fill: #555 !important;
    }
  }

  .en-logo-transparent {
    display: none;
  }

  .en-logo-white {
    display: block;
  }

  a {
    color: #555 !important;
  }
}
