@use "styles/mixins.scss" as *;

.en-nav {
  color: var(--clr-white);
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col-write {
      display: flex;
      gap: 5em;
      align-items: center;
    }

    .logo {
      @include flex-align-center;
      @include icon-size(50px);

      .brand {
        font-size: 22px;
      }

      .slogan {
        font-size: 10px;
      }
    }

    ul {
      @include flex-align-center;
      gap: 5em;

      a {
        padding: 0.5em 0;
        font-size: 14px;
        color: white;

        &:hover {
          border-bottom: 1px solid var(--clr-white);
        }
      }
    }
  }
}
