@use "styles/mixins.scss" as *;

.en-nav {
  color: var(--clr-white);
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-cta {
      @include size(30px);
      @include flex-align-center;

      svg {
        fill: white;
      }
    }
  }

  .mobile-only {
    .close-menu {
      position: absolute;
      z-index: 9999;
      top: 35px;
      right: 54px;

      svg {
        @include size(30px);
        fill: white;
      }
    }

    .dialog-container {
      position: absolute;
      height: 100vh;
      width: 100%;
      right: 0;
      top: 0;
    }

    .mobile-nav {
      padding: 2em;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-image: url("/images/bg-mobilemenu.png");
      background-position: center;
      background-size: cover;
      width: 100%;

      .row {
        border-left: 1px solid #ccc;
        padding-left: 1em;

        h2 {
          font-size: 22px;
          margin-bottom: 0.5em;
        }

        ul {
          display: grid;
          gap: 0.6em;

          a,
          li {
            color: white !important;
            font-size: 14px;
          }
        }
      }
    }
  }

  .pc-only {
    .col-right {
      display: flex;
      align-items: center;
      gap: 5em;
    }

    ul {
      @include flex-align-center;
      gap: 5em;

      a {
        padding: 0.5em 0;
        font-size: 14px;
        color: white;

        &:hover {
          border-bottom: 1px solid var(--clr-white);
        }
      }
    }
  }
}

@keyframes bubble {
  from {
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0;
  }

  to {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
